.slds-form-element__control
{
   max-width : 750px;
   margin:auto;
   margin-left: 1px;
}

.backgroundClass
{
   background: white;
   margin : auto;
}
.slds-box
{
   background-color: white;
}


 .middleBox {
   width : 100%;
   max-width: 800px;
   flex-wrap: wrap;
   align-items: center;
   margin: 0 auto;
 }
 /*.slds-col {
   width: 100%; 
 }*/

.btnClass
{
   margin : 10px;
}
.slds-modal__container
{
   width: 900px !important;
    max-width: 100% !important;
   
}